Django==4.2.27
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
channels==4.3.1
gunicorn==25.1.0
python-dotenv==1.0.1
python-decouple==3.8
dj-database-url==3.0.1
whitenoise==6.11.0
psycopg2-binary==2.9.11
requests==2.32.5
celery==5.6.2
redis==6.4.0
aioredis==2.0.1
aiohttp==3.13.3
